{% load static %}

<!DOCTYPE html>

<html lang = "en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link 
            rel = "stylesheet"
            href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity = "sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin = "anonymous"
        >
        <link rel = "stylesheet" href = "{% static 'encyclopedia/styles.css' %}">
    </head>
    <body>
        <div class = "row">
            <div class = "sidebar">
                <div id = "sidebarheader">
                    <a href = "{% url 'index' %}" id = "wiki">Wiki</a>
                    <form action = "{% url 'search' %}">
                        <input class = "search" type = "text" name = "q" placeholder = "Search Wiki">
                        <button id = "searchbutton" class = "button" type = "submit">Search</button>
                    </form>
                </div>
                <div id = "sidebarbody">
                    <div>
                        <a href = "{% url 'index' %}">
                            <div class="item">
                                Home
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href = "{% url 'newpage' %}">
                            <div class="item">
                                Create New Page
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href = "{% url 'randompage' %}">
                            <div class="item">
                                Random Page
                            </div>
                        </a>
                    </div>
                    {% block nav %}
                    {% endblock %}
                </div>
            </div>
            <div class = "main">
                <div id = "maincontent">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>